
{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}
(% from jinja2 import Template %)

{% block content %}
<style>
.annotation {
  position: relative; 
  left: 15%; 
  width: 84%;
  top: 0%;
}
.left_bar {
  position: fixed;
  position:sticky; 
  padding: 10px;
  width: 10%;
  left: 1%;
  top: 30%;
  background-color: #c3e8ec;
  border-radius: 5px;
}
.value {
  position: fixed;
  position:sticky; 
  width: 16%;
  top: 62%;
}
.download {
  position: fixed;
  position:sticky; 
  width: 10%;
  left: 1%;
  top: 92%;
}
.refresh {
  position: fixed;
  position:sticky; 
  width: 84%;
  top: 90%;
  left: 14%;
}
.topnav {
  overflow: hidden;
  background-color: #444444;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 12px 30px;
  text-decoration: none;
  vertical-align: middle;
  font-size: 18px;
}
.topnav a:hover {
    background-color: #ddf2f4;
  color: #113337;
}
.topnav a.active {
  background-color: #37a1ae;
  color: white;
}            
</style>

<div class="topnav">
    <a class="active" href="{{ url_for('auth_bp.login_page', load=False) }}"><b>ClinicalRegex</b></a>
    <a href="{{ url_for('auth_bp.run_regex') }}">Run Regex</a>
    <a href="{{ url_for('auth_bp.update_keyword') }}">Update Keywords</a>
    <a href="{{ url_for('auth_bp.login_page', load=True) }}">Load Annotation</a>
    <a href=https://groups.google.com/forum/#!forum/clinicalregex/new target="_blank">Forum</a>
    <a href=https://forms.gle/yjPDU3fYJ9MCuhoB8 target="_blank">Contact Us</a>
</div>

<div class="left_bar"  id="Left_Bar" style="position:fixed; top: 70px; width:16%; background-color: #c3e8ec;" >
  <h4 style="color:#428bca; text-align:center;"><b>Annotation</b></h4>
  {{ wtf.quick_form(form, button_map={'submit_prev': 'primary', 'submit_next': 'primary'}) }}
  <p style="font-size: 12px; line-height: 14px;"><br/>Notes with keywords:<br/>{{num_keywords[0]}} out of {{num_keywords[1]}}</p>
</div>

<div class="download" style="position: fixed; left: 1%; top: 92%; width: 16%;">
  {{ wtf.quick_form(downloadform, form_type='inline', button_map={'submit_download': 'warning'}) }}
</div>

<div class="value" style="position:fixed; top: 62%; left:1%; width:16%;">
<h5 style="text-align:center;">Value Counts</h5>
<ul class="list-group">
<li class="list-group-item d-flex justify-content-between align-items-center" style="height: 30px; padding: 5px 15px;">
      <small>Annotated</small>
      <span class="badge badge-primary badge-pill"><small>{{value_counts.annotation[1]}}</small></span>
</li>
{% for i in range(num_label) %}
  <li class="list-group-item d-flex justify-content-between align-items-center" style="height: 30px; padding: 5px 15px;">
      <small>L{{i+1}}:{{value_counts['label'][i][0]}}</small>
    <span class="badge badge-primary badge-pill"><small>{{value_counts['label'][i][1]}}</small></span>
  </li>
{% endfor %}
</ul>
</div>

<div class="annotation" style="position:relative; top: 0%; left:18%; width:81%">
    <br/>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item active">
            <a class="nav-link active" id="no-anno-tab" data-toggle="tab" href="#no-anno" role="tab" aria-controls="no-anno" aria-selected="true">Not annotated</a>
        </li>
        <li class="nav-item">
             <a class="nav-link" id="anno-tab" data-toggle="tab" href="#anno" role="tab" aria-controls="anno" aria-selected="false">Annotated</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="label1-tab" data-toggle="tab" href="#label1" role="tab" aria-controls="label1" 
            aria-selected="false">Label 1: {{value_counts['label'][0][0]}}</a>
        </li>
        {% if num_label > 1 %}
            <li class="nav-item">
                <a class="nav-link" id="label2-tab" data-toggle="tab" href="#label2" role="tab" aria-controls="label2" 
                aria-selected="false">Label 2: {{value_counts['label'][1][0]}}</a>
            </li>
        {% endif %}
        {% if num_label > 2 %}
            <li class="nav-item">
                <a class="nav-link" id="label3-tab" data-toggle="tab" href="#label3" role="tab" aria-controls="label3" 
                aria-selected="false">Label 3: {{value_counts['label'][2][0]}}</a>
            </li>
        {% endif %}
    </ul>
    <div class="tab-content" id="myTabContent">
    <br/>
    <div class="tab-pane active in" id="no-anno" role="tabpanel" aria-labelledby="no-anno-tab">
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="{{value_counts.annotation_prog_str[0]}}"
                 aria-valuenow={{value_counts.annotation_prog[0]}} 
                 aria-valuemin="0" aria-valuemax="100">{{value_counts.annotation_prog[0]}}%</div>
        </div>
        {% for i in value_counts.annotation_idx[0] %}
          {% if loop.index0%15==0 %}<br/>{% endif %}
          <a href="{{ url_for('auth_bp.annotation', jump=i) }}" class="btn btn-link" role="button" aria-pressed="true" style="width:50px; text-align:center;">{{i+1}}</a>
        {% endfor %}
    </div>
    <div class="tab-pane" id="anno" role="tabpanel" aria-labelledby="anno-tab">
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="{{value_counts.annotation_prog_str[1]}}"
                    aria-valuenow={{value_counts.annotation_prog[1]}} 
                    aria-valuemin="0" aria-valuemax="100">{{value_counts.annotation_prog[1]}}%</div>
        </div>
        {% for i in value_counts.annotation_idx[1] %}
          {% if loop.index0%15==0 %}<br/>{% endif %}
          <a href="{{ url_for('auth_bp.annotation', jump=i) }}" class="btn btn-link" role="button" aria-pressed="true" style="width:50px; text-align:center;">{{i+1}}</a>
        {% endfor %}
    </div>
    <div class="tab-pane" id="label1" role="tabpanel" aria-labelledby="label1-tab">
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="{{value_counts.label_prog_str[0]}}"
                    aria-valuenow={{value_counts.label_prog[0]}} 
                    aria-valuemin="0" aria-valuemax="100">{{value_counts.label_prog[0]}}%</div>
        </div>
        {% for i in value_counts.label_idx[0] %}
          {% if loop.index0%15==0 %}<br/>{% endif %}
          <a href="{{ url_for('auth_bp.annotation', jump=i) }}" class="btn btn-link" role="button" aria-pressed="true" style="width:50px; text-align:center;">{{i+1}}</a>
        {% endfor %}
    </div>
    {% if num_label > 1 %}
        <div class="tab-pane" id="label2" role="tabpane2" aria-labelledby="label2-tab">
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="{{value_counts.label_prog_str[1]}}"
                        aria-valuenow={{value_counts.label_prog[1]}} 
                        aria-valuemin="0" aria-valuemax="100">{{value_counts.label_prog[1]}}%</div>
            </div>
            {% for i in value_counts.label_idx[1] %}
              {% if loop.index0%15==0 %}<br/>{% endif %}
              <a href="{{ url_for('auth_bp.annotation', jump=i) }}" class="btn btn-link" role="button" aria-pressed="true" style="width:50px; text-align:center;">{{i+1}}</a>
            {% endfor %}
        </div>
    {% endif %}
    {% if num_label > 2 %}
        <div class="tab-pane" id="label3" role="tabpanel" aria-labelledby="label3-tab">
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="{{value_counts.label_prog_str[2]}}"
                        aria-valuenow={{value_counts.label_prog[2]}} 
                        aria-valuemin="0" aria-valuemax="100">{{value_counts.label_prog[2]}}%</div>
            </div>
            {% for i in value_counts.label_idx[2] %}
            <a href="{{ url_for('auth_bp.annotation', jump=i) }}" class="btn btn-link" role="button" aria-pressed="true" style="width:50px; text-align:center;">{{i+1}}</a>
            {% endfor %}
        </div>
    {% endif %}
    </div>
</div>

<div class="refresh"  id="refresh" style="position:fixed; left:45%; width:30%; top: 90%; background-color: white;">
    <h5>Value = </h5>
</div>
<div class="refresh"  id="refresh" style="position:fixed; left:50%; width:25%; top: 90%; background-color: white;">
    {{ wtf.quick_form(valueform, form_type='inline', button_map={'submit_value': 'info'}) }}
</div>


{{ dataframe|safe }}
{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}
